//VARIABLES
@import "_parcial";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik&display=swap');


*{margin:0px;
padding:0px;
box-sizing: border-box;
font-family: 'Roboto Slab','Rubik',sans-serif;
}


.bg-image {
    background-image: url("./imagenes/producto/fotoportada.png");
    width: auto;
    height: 50vh;
  }
  
  nav {
    background-color:$color-cuatro; 
  }
  
  span img {
    width: 20px;
    height: 12px;
    margin: 5px;
  }
  
  .footer {
    background-color: $color-uno;
  }

//EJEMPLO PARA QUE VEAIS COMO HACER CAMBIOS BOTON (UTILIZACION MIXIN)
// .btn2{@include btn ($color:$color-uno, $width


//Botón cantidad de producto 

#input-cantidad {
  padding: 0.2em 0.4em;
  border: 1px solid $color-tres;
  width: 20%;
}

table input[type='number'] {
  max-width: 4em;
}

//Perfil 

//Esto necesita responsive

 #contacto{
   margin-top: 2rem;
   margin-bottom: 2rem;
   padding-left: 10rem;
   padding-bottom: 2rem;
   background-color:$color-cuatro;
   width: 80%;
 }

 #perfil-nombre{
  margin-left: 1rem;
}

.h4 {
   font-size: 1.3rem;
}

#formulario-contacto{
  padding-left: 2rem;
}
