
$color-uno:#293249;
$color-dos:#69656f;
$color-tres:#aca1a1;
$color-cuatro:#ded2cf;

$letra-1: "Rubik,sans-serif";
$letra-2: "Roboto Slab, sans-serif";

*{margin:0px;
padding:0px;
background-color: $color-texto;
}