//VARIABLES
$color-uno:#293249;
$color-dos:#69656f;
$color-tres:#aca1a1;
$color-cuatro:#ded2cf;

//RESPONSIVE
@mixin pc {
  @media  (min-width: 1025px) {
    @content;
  }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  }
 
@mixin mobile {
    @media (max-width: 767px) {
      @content;
    }
  }

//MIXIN BOTONES
@mixin boton-const{
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-family: 'Roboto Slab';
  height: 2.5rem;
  outline: none;
}
  @mixin btn1 ($color:$color-uno, $border-radius: 7px, $margin:1rem,  $font-weight:bold, $font-size:medium, $colorbackground:$color-cuatro,  $width:100%,  $padding:0px, ){
    @include boton-const;
     color: $color;
     border-radius: $border-radius;
     margin:$margin;
     font-weight: $font-weight;
     font-size: $font-size;
     background-color: $colorbackground;
     width: $width;
     padding:$padding;
 }

