//VARIABLES
@import "_parcial";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik&display=swap');


*{margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto Slab','Rubik',sans-serif;
}

//HEADER
.bg-image {
    background-image: url("../imagenes/producto/fotoportada.png");
    width: 100%;
    height: 15vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10rem;
    
  }
  
  nav {
    background-color:$color-uno; 
  }
  
  svg{
    fill: $color-cuatro;
    margin: 0 2rem;
  }
  
  .dropdown-item img, span img {
    width: 20px;
    height: 12px;
    margin: 5px;
  }

  .dropdown-toggle::after {
    content: none;
}


//BOTONES

.btn1 {
  @include btn1;
  
}

.btn1:hover {
  @include btn1($color:$color-cuatro, $colorbackground:$color-dos, $font-size:initial, $padding:.5rem)
}
.btn2 {
  @include btn1($width:80%)
  
}
.btn2:hover {
  @include btn1($colorbackground:$color-uno,$width:80%)
  
}
.btn3 {
   @include btn1($color:white, $colorbackground:$color-uno, $font-weight:200, $font-size:initial, $padding:.5rem, $width: 73%)
}

a.btn3:hover {
  @include btn1($colorbackground:$color-tres,$font-size:medium, $padding:0.3rem)
}

a.btn3 {
  @include btn1($colorbackground:$color-uno,$font-size:medium, $padding:0.3rem)
}

.btn4:hover{
  @include btn1($colorbackground:$color-dos,$font-size: medium, $padding:0.1rem, $width:50%)
}

.btn4{
  @include btn1($color: $color-uno, $colorbackground:$color-cuatro,$font-size: medium, $padding:0.1rem, $width:50%)
}
.btn5{
  
  @include btn1($color: $color-dos, $colorbackground:$color-cuatro, $font-size: medium, $padding:0.1rem, $margin:0px,$border-radius:0px, $font-weight:200 )
}

.btn5:disabled{  
  @include btn1($color: $color-uno, $colorbackground:white, $font-size: medium, $padding:0.1rem, $margin:0px,$border-radius:0px, $font-weight:200 )
}

a.btn6{
  @include btn1($color: $color-uno, $colorbackground:$color-cuatro,$font-size: medium, $padding:0.5rem, $width:25%)
}
a.btn6:hover{
  @include btn1($color: $color-cuatro, $colorbackground:$color-dos,$font-size: medium, $padding:0.6rem, $width:22%)
}
  //FOOTER
  .footer {
    background-color: $color-uno;
  }

//EJEMPLO PARA QUE VEAIS COMO HACER CAMBIOS BOTON (UTILIZACION MIXIN)
// .btn2{@include btn ($color:$color-uno, $width

//HOME

//Fecha

#date{
  background-color: $color-uno;
  width: 15rem;
  margin: 2rem;
  margin-left: 5rem;
  margin-bottom: 3.5rem;
  color: $color-cuatro;
  align-content: center;
  padding: 0.7rem;
  border-radius: 2rem;
  text-align: center;
  font-size: large;

  @include tablet{
    margin-left: 2rem;
  }
  @include mobile {
    margin-left: 2rem;
  }

}

//Selector

#categorySelect{
  width: 25%;

  @include tablet{
    width: 25%;

  }
  @include mobile {
    width: 60%; 

  }

  
}

//Botón cantidad de producto 

.cantidad{
  margin-right: 1rem;
}


table input[type='number'] {
  max-width: 4em;
}

//Perfil 

//Esto necesita responsive

 #contacto{
   margin-top: 2rem;
   margin-bottom: 2rem;
   padding-left: 10rem;
   padding-bottom: 2rem;
   background-color:$color-cuatro;
   width: 80%;
 }

 #perfil-nombre{
  margin-left: 1rem;
}

.h4 {
   font-size: 1.3rem;
}

#formulario-contacto{
  padding-left: 2rem;
}


// Parte About us 

#aboutus {
  h3.text-center#aboutustexto {
    text-align: center;
  }

  .d-flex.justify-content-center.align-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    div {
      width: calc(20% - 2rem);
      margin: 1rem;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%; 
        margin-left: 9rem;       
      }

      p {
        text-align: center;
        margin-top: 1rem;
      }
    }
    @include pc {
      div {
        width: calc(33.33% - 4rem);
      }

      div:nth-child(6) {
        width: 100%;
        margin-top: 2rem;
      }
    }
    @include tablet {
      div {
        width: calc(33.33% - 2rem);
      }

      div:nth-child(6) {
        width: 100%;
        margin-top: 2rem;
      }

      img {
        margin-left: 6rem !important;
      }

    }

    @include mobile {
      div {
        width: 100%;
      }

      div:nth-child(3),
      div:nth-child(5) {
        margin-top: 2rem;
      }


      img {
        margin-left: 14rem !important;
      }
    }
  }
}

//Página login-registro-- Aquí empieza
main{
  background-color:$color-cuatro; 
  padding: 3rem 10rem;
}

.main-loginregistro{
  background-color:$color-cuatro; 
}

.contenedor__todo{
  width: 100%;
  max-width: 55rem;
  margin: auto;
  position: relative; // vamos a tener posiciones absolutas por lo que necesitamos posiciones realtivas para que sus elementos se relacionen con él.
}

/*Caja trasera*/

.caja__trasera{
  width: 100%;
  padding: 0rem 2rem;
  
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: $color-dos;

}

.caja__trasera div{
  margin: 9rem 3rem;
  color: white;
  transition: all 500ms; //Nos muestra una transición cuando vayamos hacer algún movimiento
}


.caja__trasera div p{
  margin-top: 2rem; 
}

.caja__trasera div h3{
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera div p{
  font-size: 16px;
  font-weight: 300;
}


/*Formularios*/

#btnIngresar{
  color: $color-dos;
}

.contenedor__login-register{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 25rem;
  position: relative; //Posición del formulario absoluta - Relación
  top: -13rem; //Posicionarlo en el centro 
  left: 2rem;

  /*La transicion va despues del codigo JS*/
  
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
  //Transición para el efecto rebote de un lado a otro
}

.contenedor__login-register form{
  width: 100%;
  padding: 2rem;
  background: white;
  position: absolute;
  border-radius: 2rem;
}

.contenedor__login-register form h2{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: $color-dos;
}

.contenedor__login-register form input{
  width: 100%;
  margin-top: 0.1rem;
  padding: 1rem;
  border: none;
  background: $color-cuatro;
  font-size: 1rem;
  outline: none;

  @include mobile {
      width: 100%;
      margin-top: 0.1rem;
      padding: 0.3rem;
      border: none;
      background: $color-cuatro;
      font-size: 0.8rem;
      outline: none;
  }
}


.formulario__login{
  opacity: 1;
  display: block;
  margin-left: 1.2rem;
}
.formulario__register{  //para que no aparezca el formulario de resgistro
  display: none;
}

//Div política privacidad

.checkbox-formulario{
  display: flex;
}
#checkbox{
 width: 1rem;

}
.politica-privacidad{
  margin-top: 1rem;
  padding-left: 1rem;
 
}


.mb-4{
  @include tablet{
    margin-left: 2rem !important;
  }
  @include mobile{
    margin-left: 2rem !important;
  }
}

  main{
      margin-top: 50px;
      @include mobile{
          margin:0;
      }
  }

  .caja__trasera{
      max-width: 350px;
      height: 300px;
      flex-direction: column;
      margin: auto;

      @include mobile{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
      }
      
  }

  .caja__trasera div{
      margin: 1px;
      position: absolute;
      @include mobile {
        margin: 0px;
        position: absolute;
      }
  }


  /*Formularios*/

  .contenedor__login-register{
      top: -10px;
      left: -5px;
      margin: auto;
      @include mobile{
        top: -10px;
        left: -5px;
        margin: auto;

      }
  }

  .contenedor__login-register form{
      position: relative;
      margin-left: 1rem;
      @include mobile{
        position: relative;
      }
   
  }
  

  .iniciarSesion-form{
    @include mobile{
      font-size: 0.8rem;
    }

  }
  
