//VARIABLES
@import "_parcial";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik&display=swap');


*{margin:0px;
padding:0px;
box-sizing: border-box;
font-family: 'Roboto Slab','Rubik',sans-serif;
}

//HEADER
.bg-image {
    background-image: url("./imagenes/producto/fotoportada.png");
    width: auto;
    height: 50vh;
  }
  
  nav {
    background-color:$color-cuatro; 
  }
  
  span img {
    width: 20px;
    height: 12px;
    margin: 5px;
  }

//BOTONES

.btn1 {
  @include btn1;
  
}

.btn1:hover {
  @include btn1($color:$color-uno,$font-size:initial, $padding:.5rem)
}
.btn2 {
  @include btn1($width:80%)
  
}
.btn2:hover {
  @include btn1($color-uno,$width:80%)
  
}
 .btn3 {
   @include btn1($color:$color-uno,$font-size:initial, $padding:.5rem)
  
 }

a.btn3:hover {
  @include btn1($color:$color-tres,$font-size:medium, $padding:0.3rem)
}
a.btn3 {
  @include btn1($color:$color-uno,$font-size:medium, $padding:0.3rem)
}

  //FOOTER
  .footer {
    background-color: $color-uno;
  }

//EJEMPLO PARA QUE VEAIS COMO HACER CAMBIOS BOTON (UTILIZACION MIXIN)
// .btn2{@include btn ($color:$color-uno, $width


//Botón cantidad de producto 

#input-cantidad {
  padding: 0.2em 0.4em;
  border: 1px solid $color-tres;
  width: 20%;
}

table input[type='number'] {
  max-width: 4em;
}

//Perfil 

//Esto necesita responsive

 #contacto{
   margin-top: 2rem;
   margin-bottom: 2rem;
   padding-left: 10rem;
   padding-bottom: 2rem;
   background-color:$color-cuatro;
   width: 80%;
 }

 #perfil-nombre{
  margin-left: 1rem;
}

.h4 {
   font-size: 1.3rem;
}

#formulario-contacto{
  padding-left: 2rem;
}


// Parte About us 

#aboutus {
  h3.text-center#aboutustexto {
    text-align: center;
  }

  .d-flex.justify-content-center.align-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    div {
      width: calc(20% - 2rem);
      margin: 1rem;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%; 
        margin-left: 9rem;       
      }

      p {
        text-align: center;
        margin-top: 1rem;
      }
    }
    @include pc {
      div {
        width: calc(33.33% - 4rem);
      }

      div:nth-child(6) {
        width: 100%;
        margin-top: 2rem;
      }
    }
    @include tablet {
      div {
        width: calc(33.33% - 2rem);
      }

      div:nth-child(6) {
        width: 100%;
        margin-top: 2rem;
      }

      img {
        margin-left: 6rem !important;
      }

    }

    @include mobile {
      div {
        width: 100%;
      }

      div:nth-child(3),
      div:nth-child(5) {
        margin-top: 2rem;
      }


      img {
        margin-left: 14rem !important;
      }
    }
  }
}

//Página login-registro-- Aquí empieza

main{
  background-color:$color-cuatro; 
  width: 100%;
  padding: 2rem;
  margin: 4rem;
}

.contenedor__todo{
 
  width: 100%;
  max-width: 55rem;
  margin: auto;
  position: relative; // vamos a tener posiciones absolutas por lo que necesitamos posiciones realtivas para que sus elementos se relacionen con él.
}

/*Caja trasera*/

.caja__trasera{
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: $color-dos;

}

.caja__trasera div{
  margin: 100px 40px;
  color: white;
  transition: all 500ms; //Nos muestra una transición cuando vayamos hacer algún movimiento
}


.caja__trasera div p,
.caja__trasera button{
  margin-top: 30px; // Espaciado entre ¿?, texto y botón
}

.caja__trasera div h3{
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera div p{
  font-size: 16px;
  font-weight: 300;
}

.caja__trasera button{
  outline: none; // quitar la linea negra que aparece en el border
  transition: all 300ms; // Para implementar :hover
}

.caja__trasera button:hover{
  background:$color-tres;
  color: white;
}

/*Formularios*/

.contenedor__login-register{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 25rem;
  position: relative; //Posición del formulario absoluta - Relación
  top: -13rem; //Posicionarlo en el centro 
  left: 2rem;

  /*La transicion va despues del codigo JS*/
  
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
  //Transición para el efecto rebote de un lado a otro
}

.contenedor__login-register form{
  width: 100%;
  padding: 2rem;
  background: white;
  position: absolute;
  border-radius: 2rem;
}

.contenedor__login-register form h2{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: $color-dos;
}

.contenedor__login-register form input{
  width: 100%;
  margin-top: 0.1rem;
  padding: 1rem;
  border: none;
  background: $color-cuatro;
  font-size: 1rem;
  outline: none;
}

/* IMPORTANTE: Cambiar este estilo de botón */
.contenedor__login-register form button{
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: $color-tres;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
}

.formulario__login{
  opacity: 1;
  display: block;
}
.formulario__register{  //para que no aparezca el formulario de resgistro
  display: none;
}

//Div política privacidad

.checkbox-formulario{
  display: flex;
}
#checkbox{
 width: 1rem;

}
.politica-privacidad{
  margin-top: 1rem;
  padding-left: 1rem;
 
}

/* IMPORTANTE: Falta cambiar versión responsive */

@media screen and (max-width: 850px){

  main{
      margin-top: 50px;
  }

  .caja__trasera{
      max-width: 350px;
      height: 300px;
      flex-direction: column;
      margin: auto;
      
  }

  .caja__trasera div{
      margin: 0px;
      position: absolute;
  }


  /*Formularios*/

  .contenedor__login-register{
      top: -10px;
      left: -5px;
      margin: auto;
  }

  .contenedor__login-register form{
      position: relative;
  }
}