//VARIABLES
@import "_parcial";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik&display=swap');


*{margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family:'Rubik',sans-serif;
}

// ---------------------------------HEADER--------------------
.bg-image {
  background-image: url("../imagenes/producto/fotoportada.png");
  width: 100%;
  height: 25vh;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10rem;
}

.container-fluid img {
  width: 25%;
}
  
  nav {
    background-color:$color-uno; 
    height: 12vh;
  }
  svg{
    fill: $color-cuatro;
    margin: 0 2rem;
    @include tablet {
     margin: 1rem 22rem;
    }

    @include mobile{
      margin: 1rem 9rem;
    }
  }
  
  .dropdown-item img, span img {
    width: 20px;
    height: 12px;
    margin: 5px;
  }

  .dropdown-toggle::after {
    content: none;
}
  .navbar-toggler {
    color:$color-cuatro;
    background-color:$color-cuatro;
  }

//---------------------------HOME------------------

//Fecha

#date{
  background-color: $color-uno;
  width: 15rem;
  margin: 2rem;
  margin-left: 5rem;
  margin-bottom: 3.5rem;
  color: $color-cuatro;
  align-content: center;
  padding: 0.7rem;
  border-radius: 2rem;
  text-align: center;
  font-size: large;

  @include tablet{
    margin-left: 2rem;
  }
  @include mobile {
    margin-left: 2rem;
    font-size: 0.7rem;
    width: 8rem;  
  }
}

#encabezadoDeCatalogo{
  display: flex;
  align-items: center;
}

//Selector

#categorySelect{
  width: 25%;

  @include tablet{
    width: 25%;
    font-size: medium;

  }
  @include mobile {
    width: 60%;
    font-size: smaller; 
  }
}


//Título categoría

#categoriaProducto{
  display: flex;
  justify-content: center;
  justify-items: center;
}

#titulo-categorias {
  text-align: center;
  color: $color-uno;
  background-color: white;
  width: 30%;
  border-style: inset;
  @include tablet{
    width: 75%;
  }

  @include mobile{
    width: 70%;
  }
}

// ------------------- BOTÓN CANTIDAD DE PRODUCTO --------------- 

.cantidad{
  margin-right: 1rem;
}


table input[type='number'] {
  max-width: 4em;
}


// ------- IMAGENES CARD --------
#foto-imagen{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

#foto-detalle-producto{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


//-----------------------------BOTONES------------------

.btn1 {
  @include btn1;
  @include mobile {
    width: 80%;
    font-size: smaller;
    margin-left: 2rem;
  }
  @include tablet {
    width: 50%;
    font-size: medium;
    margin-left: 12rem;
  }
}

.btn1:hover {
 @include btn1($color:$color-cuatro, $colorbackground:$color-dos);
 @include mobile {
  width: 80%;
  font-size: smaller;
  margin-left: 2rem;
}
@include tablet {
  width: 50%;
  font-size: medium;
  margin-left: 12rem

}
}

// .btn2 {
//   @include btn1;
  
// }
// .btn2:hover {
//   @include btn1($colorbackground:$color-dos,$color:$color-cuatro,$width:80%)
  
// }
.btn3 {
   @include btn1($color:white, $colorbackground:$color-uno, $font-weight:200, $padding:.5rem, $margin:0px, $width: 50%)
}

a.btn3:hover {
  @include btn1($colorbackground:$color-tres, $font-weight:200, $padding:.5rem, $margin:0px, $width: 50%)
}

a.btn3 {
  @include btn1($color:white, $colorbackground:$color-uno, $font-weight:200, $padding:.5rem, $margin:0px, $width: 50%)
}

.btn4:hover{
  @include btn1($colorbackground:$color-dos,$font-size: medium, $padding:0.1rem, $width:50%)
}

.btn4{
  @include btn1($color: $color-uno, $colorbackground:$color-cuatro,$font-size: medium, $padding:0.1rem, $width:50%)
}
.btn5{
  
  @include btn1($color: $color-dos, $colorbackground:$color-cuatro, $font-size: medium, $padding:0.1rem, $margin:0px,$border-radius:0px, $font-weight:200 )
}

.btn5:disabled{  
  @include btn1($color: $color-uno, $colorbackground:white, $font-size: medium, $padding:0.1rem, $margin:0px,$border-radius:0px, $font-weight:200 )
}

a.btn6:hover{
  @include btn1($color: $color-uno, $colorbackground:$color-cuatro,$font-size: large, $padding:0.5rem, $width:60%)
  // @include mobile {

  // }
}
a.btn6{
  @include btn1($color: $color-cuatro, $colorbackground:$color-dos,$font-size:  large, $padding:0.6rem, $width:60%)
}
  

//---------- DETALLE PRODUCTO --------

 .detalle-producto {
  background-color:$color-cuatro;
  padding-bottom: 5rem;
 }
 #tarjeta-detalle{
  width: 40%;
  @include tablet {
    width: 80%;
  }

  @include mobile {
    width:100%;
  }

 }
 #titulo-tarjeta{
  display: flex;
  justify-content: center;
  justify-items: center;
 }

#titulo-detalle {
  text-align: center;
  color: $color-dos;
  background-color: white;
  width: 30%;
  border-style: inset;
  margin-top: 2rem;
  padding: 0.5rem;

  @include tablet {
    width: 59%;
  }

  @include mobile{
    width: 72%;
  }
}

 //-----------------------------PERFIL----------------------------------

 .detalle-perfil {
  background-color:$color-cuatro;
  padding: 4rem 0rem;
 }


#contacto {
  padding-left: 25rem;
  width: 100%;
  

  @include tablet {
    padding-left: 12rem;
  
  }

  @include mobile {
    padding-left: 4rem;
    margin-top: 2rem;
  }

}

#perfil-nombre {
  margin-left: 1rem;

  @include tablet {
    margin-left: .4rem;
  }

  @include mobile {
    margin-left: 1.5rem;
  }
}

.form-group h4 {
   font-size: 1.3rem;
   font-weight: bold;
   @include tablet {
    font-size: medium;
  }

  @include mobile {
    font-size: smaller;
  }
}

.form-group span {
  font-weight: 100;
  padding: 0.5rem;
}

#archivo {
  @include tablet {
    font-size: medium;
  }

  @include mobile {
    font-size: smaller;
  }
}

#formulario-contacto {
  padding-left: 11rem;
  @include tablet {
    padding-left: 10rem;
  }
  @include mobile {
    padding-left: 2rem;
    padding-top: 2rem;
  }
}

.avatar{
  width:160% ;
  height: 160% ;
 
  @include tablet{
    width:200% ;
    height: 200% ;
  }

  @include mobile {
    width: 60% ;
    height: 50% ;
    padding-left: 2rem;
  }
}


//--------------------------PAGINA LOGIN/REGISTRO---------------------
 main{
   background-color:$color-cuatro; 
   width: 100%;
 }

 .main-loginregistro{
   background-color:$color-cuatro; 
   padding: 12rem;
   @include tablet {
     padding: 3rem;
   }
   @include mobile{
     padding: 0;
   }
 }

 .contenedor__todo{
   width: 100%;
   max-width: 55rem;
   margin: auto;
   position: relative; // vamos a tener posiciones absolutas por lo que necesitamos posiciones realtivas para que sus elementos se relacionen con él.
 }

 /*Caja trasera*/

 .caja__trasera{
   width: 100%;
   padding: 1rem 3rem;
   display: flex;
   justify-content: center;
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   background-color: $color-dos;

   @include tablet {
       max-width: 450px;
       height: 300px;
       flex-direction: column;
       margin: auto;
   }

   @include mobile{
     padding: 0.2rem;
     max-width: 350px;
     height: 300px;
     flex-direction: column;
     margin: auto;
   }

 }

 .caja__trasera div{
   margin: 100px 40px;
   color: white;
   transition: all 500ms; //Nos muestra una transición cuando vayamos hacer algún movimiento
   @include tablet{
     margin: 0px;
     position: absolute;
   }
   @include mobile {
     margin: 0px;
     position: absolute;
   }

 }


 .caja__trasera div p{
   margin-top: 2rem; 
   font-size: 16px;
   font-weight: 300;
 }

 .caja__trasera div h3{
   font-weight: 400;
   font-size: 26px;
 }


 /*Formularios*/

 #btnIngresar{
   color: $color-dos;
 }

 .contenedor__login-register{
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 25rem;
   position: relative; //Posición del formulario absoluta - Relación
   top: -13rem; //Posicionarlo en el centro 
   left: 2rem;

   /*La transicion va despues del codigo JS*/
  
   transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
   //Transición para el efecto rebote de un lado a otro

   @include tablet{
     top: -10px;
     left: -5px;
     margin: auto;
   }

   @include mobile{
     top: -10px;
     left: -5px;
     margin: auto;
   }

 }

 .contenedor__login-register form{
   width: 100%;
   padding: 2rem;
   background: white;
   position: absolute;
   border-radius: 2rem;

   @include tablet{
     position: relative;
   }

   @include mobile {
     position: relative;
   }
 }

 .contenedor__login-register form h2{
   font-size: 2rem;
   text-align: center;
   margin-bottom: 2rem;
   color: $color-dos;
 }

 .contenedor__login-register form input{
   width: 100%;
   margin-top: 0.1rem;
   padding: 1rem;
   border: none;
   background: $color-cuatro;
   font-size: 1rem;
   outline: none;
 }


 .formulario__login{
   opacity: 1;
   display: block;
 }

 .formulario__register{ // para que no aparezca el formulario de resgistro
   display: none;
 }

 Div política privacidad

 .checkbox-formulario{
   display: flex;
 }
 #checkbox{
  width: 1rem;

 }
.politica-privacidad{
  margin-top: 1rem;
  padding-left: 1rem;
 
}


.mb-4{
  @include tablet{
    margin-left: 2rem !important;
  }
  @include mobile{
    margin-left: 2rem !important;
  }
}

//-------------------------------ABOUT US------------------------------------

#aboutus {
  h3.text-center#aboutustexto {
    text-align: center;
    color: $color-uno;
    background-color: white;
    border-style: inset;
    margin: 3rem 20rem ;
    @include tablet{
      width: 75%;
      margin: 2rem 5rem;
    }

    @include mobile{
      width: 73%;
      margin: 2rem 3.5rem;
    }
  }

  .texto-sobrenosotros{
    margin: 3rem 13rem ;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem 0.7rem 0rem 0.7rem; 
    color: $color-uno;
    @include tablet{
      width: 75%;
      padding: 0rem 3rem; 
      margin: 1rem 5rem;
    }

    @include mobile{
      width: 80%;
      padding: 0rem; 
      margin: 2.5rem;
    }
  }

  .d-flex.justify-content-center.align-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    div {
      width: calc(20% - 2rem);
      margin: 1rem;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%; 
        margin-left: 9rem;       
      }

      p {
        text-align: center;
        margin-top: 1rem;
      }
    }
    @include pc {
      div {
        width: calc(33.33% - 4rem);
      }

      div:nth-child(6) {
        width: 100%;
        margin-top: 2rem;
      }
    }
    @include tablet {
      div {
        width: calc(33.33% - 2rem);
      }

      div:nth-child(6) {
        width: 100%;
        margin-top: 2rem;
      }

      img {
        margin-left: 6rem !important;
      }

    }

    @include mobile {
      div {
        width: 100%;
      }

      div:nth-child(3),
      div:nth-child(5) {
        margin-top: 2rem;
      }


      img {
        margin-left: 14rem !important;
      }
    }
  }
}

//------------------------FORMULARIO DE REGISTRO---------------------
.formulario__grupo-input {
	position: relative;
}
.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid $color-uno;
	outline: none;
}
.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}
.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}


.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

.formulario__input-error-loguin{
  font-size: 1rem;
	margin-bottom: 0;
	display: none;
  color: #bb2929;
}
.formulario__input-error-loguin-activo{
  display: block;
}
//-------------------POLITICA DE PRIVACIDAD ----------------

.politica {
  text-align: center;
  background-color: $color-cuatro;
  border: 2px solid $color-cuatro;
}


.texto-politica {
  text-align: center;
  padding: 3rem;
  font-size: 1rem;
}

.politica h3{
  padding-top: 2rem;
  font-weight: bold;
}


// ------ POP UP ---------------
#my_popup{
  width:20rem;
  height: 16rem;
  border: 2px solid $color-cuatro;
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
  background-color:$color-uno;
  border-radius: 10%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;

  @include tablet{
    width: 15rem;
    height: 14rem;
    padding: 0.6rem;
  }

  @include mobile{
    width: 12rem;
    height: 10rem;
    padding: 0.5rem;

  }
}

#my_popup h3{
  margin: 0.8rem;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;

  @include tablet {
    margin: 1.5rem;
    font-size: 0.9rem;
  }
  @include mobile{
   margin: 0.8rem;
   font-size: 0.7rem;

  }
}


#my_popup svg{
  width: 20%;
  height: 20%;

  @include tablet{
    width: 15%;
    height: 15%;
  }

  @include mobile{
    width: 10%;
    height: 10%;
  }
}



//---------------------- MODAL ------------------------

.modal-content{
  background-color: $color-cuatro;
  padding: 1rem;
  margin: 0 2rem;
  text-align: center;

  @include tablet {
    width: 100%;
  }
  @include mobile {
    width: 85%;
  }
}

.modal-body p {
  font-size: 1.5rem;
  color: $color-uno;

  @include mobile {
    font-size: 1rem;
  }
}

.btn-close {
  border-radius: 50%;
  background-color: $color-dos;
  opacity: 1;
}

.bg-uno{
  background-color: $color-uno;
}
.bg-dos{
  background-color: $color-dos;
}
.bg-tres{
  background-color: $color-tres;
}
.bg-cuatro{
  background-color: $color-cuatro;
}


@keyframes change-color {
  0% {
    background: $color-tres;
    position: relative;
    top: 0px; 
       /* Primer fotograma */
  }
  50% {
    position: relative;
    top: 100px;         /* Primer fotograma */
  }
  100% {
    background: $color-cuatro;
    position: relative;
    top: 1000px; 
    visibility: hidden;
        /* Último fotograma */
  }
}

#secae {
 
  color: #FFF;
 
  animation: change-color 5s ease 0s 1;
}


//-------------------------------carrito----------------------------
// .border {
//   padding: 20px;
//   display: flex;
//   justify-content: center;
//   background-color: $color-cuatro;
 
//   table {
//     height: auto;
//     margin: 0 auto;
//     border-collapse: collapse;


   
//     th {
//        background-color: #f2f2f2;
//        font-weight: bold;
//        text-align: center;
//        padding: 10px;

//        @include mobile {
//          font-size: smaller;
//          padding: 0px;
//        }
    
//     }
   
//     td {
//       text-align: center;
//       padding: 10px;
//       vertical-align: middle;

//       p{
//        @include mobile {
//          font-size: smaller;
//        }
//       }
//     }
   
//     img {
//       max-width: 100%;
//       height: auto;

//       @include mobile{
//        max-width: 30%;
//       }
//     }

//     tbody {
//      vertical-align: 0px;
//     }

//     @include mobile {
//      width:50%;
//     }
//   }
 
//   #totalFactura {
//    font-weight: bold;
//   }
// }


.factura {
 border: 1px solid $color-cuatro !important;
 width: 80%;
 background-color: white;
}

.tbody {
 border-style: none !important;
}

.facturaCompleto{
 margin-left: 2rem !important;
}
.ocultarResponsive{
  visibility: visible;
  @include tablet {
    visibility: hidden;
  }
  @include mobile {
    visibility: hidden;
  }
}
.mostrarResponsive{
  visibility: hidden;
  @include tablet {
    visibility: visible;
  }
  @include mobile {
    visibility: visible;
  }
}
