[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia guejo8/E-commerce
Type=Link
URL=https://github.com/guejo8/E-commerce
Icon=mate-fs-bookmark
Name[es_ES]=Papel y cosas - Git
