[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia PROYECTO E-COMMERCE | Trello
Type=Link
URL=https://trello.com/b/q5lkTSmR/proyecto-e-commerce
Icon=mate-fs-bookmark
Name[es_ES]=Papel y Cosas - Trello
