@keyframes camion {
    0% {
      
      position: absolute;
     left: 0; 
         /* Primer fotograma */
    }
    50% {
      position: absolute;
      left: 100%;
      transform: scaleX(-1);         /* Primer fotograma */
    }
    100% {
      
      position: absolute;
      left: 0%; 
      
          /* Último fotograma */
    }
  }
  
  #camion {   
    animation: camion 5s ease 0s infinite;
  }